
<div class="topImage">
  <img id="mainImage" src="<%= image_url 'coffee-apple-iphone-desk.jpg' %>">
  <div class="overlay">
    <span class="big"><%= link_to "LANCEZ VOTRE PROJET", '#' %></span>
    <span class="medium"><%= link_to "DES AUJOURD'HUI", '#' %></span>
  </div>
</div>

<div class="container selection">
  <h2>Notre sélection :</h1>
</div>

<div class="container partners">
  <h2>Nos partenaires</h1>
</div>
