  <% provide(:title, I18n.t('new_project')) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="project_form">
        <h1><%= I18n.t('new_project') %></h1>
        <%= render 'shared/project_form' %>
      </section>
    </aside>
  </div>