  <% provide(:title, "Nouveau projet") %>
  <div class="row">
    <aside class="col-md-4">
      <section class="project_form">
        <h1>Nouveau projet</h1>
        <%= render 'shared/project_form' %>
      </section>
    </aside>
  </div>