<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= I18n.t('the_form_contains')%> <%= pluralize(object.errors.count, I18n.t('error')) %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>