<li class="donation %>">
  <span class="user"><%= link_to donation.user, donation.user %></span>
  <span class="content"><%= donation.amount %></span>
  <span class="content"><%= donation.id %></span>
</li>