
if (<%= @amount %> > 0){
  $('.amount').html(<%= @amount %> + "€");
  $('.amount').fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
  $('.contributors').html(<%= @contributors %> );
  $('.contributors').fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
  $('.alert').remove();
  $('.projectShow').before('<div class="alert alert-success">Votre participation a été prise en compte, merci!</div>');
}
else{
  $('.alert').remove();
  $('.projectShow').before('<div class="alert alert-error">Montant incorrect</div>');
}