<a href="/projects/<%= project.id %>">
  <li class="projectThumb">
    <%= image_tag project.mainpicture.url(:thumb)  %>
    <span class="title"><%=  project.title %></span>
    <p class="presentation"><%= project.presentation %><p>
  </li>
</a>