<% provide(:title, "Projets") %>
<h1>All projects</h1>


<div id="projects" >
  <%= render @projects %>
</div>

<div id="infinite-scrolling" class="center ">
  <%= will_paginate inner_window: 2, outter_window: 1 %>
</div>


