@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$lightBlue: #d6ebf2;
$transparentDarkBlue: rgba(70,164,181,0.5);
$light-grey:#E5E5E5;
$less-light-grey:#d3d3d3;

body {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 180px;
  }
}


/* HEADER */
.navbar{
  background-color   : white;
  #logo {
    float            : left;
    margin-right     : 10px;
    font-size        : 1.7em;
    color            : #000;
    text-transform   : uppercase;
    letter-spacing   : -1px;
    padding-top      : 9px;
    font-weight      : bold;
    &:link{
      text-decoration: none;
    }
    &:hover{
      color          : #000;
      text-decoration: none;
    }
  }
}


/* FOOTER */
.footer{
  margin-top      :20px;
  padding         :20px 0;
  background-color: $lightBlue;

  .wrapper{
    text-align    : center;
  }

  .footerDiv{
    display       : inline-block;
  }


  h2 span {
  background      : $lightBlue;
  padding         : 0 5px;
  margin-bottom   : 0;
  Text-align      : Center; 
  }

  h2+* {
    border-top    : solid 2px grey;
    padding-top   : 25px;
    margin-top    : -25px;
    margin-left   :20px;
    margin-right  :20px;
    margin-bottom :0;
    padding-bottom:0;
  }

  p {
    padding-top   : 5px;
  }

  ul{
    list-style    : none;
    text-align    : left;
  }

}


/* MAIN */
#mainImage{
  width     :100%;
  max-height:500px;
}
.topImage{
  position:relative;
}

.overlay{
  position        :absolute;
  background-color: $transparentDarkBlue;
  bottom          :0;
  z-index         : 10px;
  width           :100%;
  font-weight     : bold;
  padding         :10px 10px;
  span{
    color         :#000;
  }
  .big{
    font-size     : 25px
  }
  .medium{
    font-size     : 20px
  }
  a{
    color:#000;
    &:link{
      text-decoration:none;
    }
    &:hover{
      text-decoration:none;
    }
    &:visited{
      text-decoration:none;
    }
    &:active{
      text-decoration:none;
    }
  }
}

.selection{
  background-color: $lightBlue;
  width           :100%;

  li{
    display:inline-block;
    margin-bottom:10px;
  }

  .projectResume{
    background-color: $light-grey;
    border-radius: 10px;
    border: 1px solid $less-light-grey;

    position:relative;
    width:100%;
    overflow:none;

    .projectResumeImage{
      margin-top:10px;
      margin-left:10px;
    }

    .projectResumeTitle{
      display: inline-block;
      text-align: center;
      font-weight: bold;
      margin-left:10px;

      img{
        display: inline-block;
      }
    }

    .projectResumeText{
      margin-top:10px;
      margin-left:10px;
      padding-bottom:70px;
    }

    .projectResumeInfo{

      position:absolute;
      bottom:0;
      width:100%;
      padding-top:5px;
      border-top:1px solid black;

      .objective, .remaining{
        display: inline-block;
        margin-left:10px;
      }

      .sub{
        font-weight: bold;
        margin-bottom:0;
      }
    }
  }

  
}

.partners{
  width:100%;
  height:400px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color    : #eed3d7;
    color           : #b94a48;
    text-align      : left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color    : #eed3d7;
    color           : #b94a48;
    text-align      : left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color    : #d6e9c6;
    color           : #468847;
    text-align      : left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color    : #d6e9c6;
    color           : #468847;
    text-align      : left;
 }

 /*PROJECT PAGE*/
 .projectShow{

  .projectTitle{
    text-align: center;
  }
  .subTitle{
    display: inline-block;
    font-weight: bold;
    margin-top:20px;
  }

  .presentation{
    $size : 300px;
    position:relative;

    .projectPicture{
      display:inline-block;
      width: 50%;
      min-height:$size;

      img{
        max-width: 100%;
      }
    }

    .aside{
      display:inline-block;
      position:absolute;
      top:20px;
      width: 49%;
      min-height:$size;
      
      .sub{
        font-weight: bold;
        font-size: 40px;
        margin:0 0;
        padding:0 0;
      }
      .asideElement{
        margin-left:40px;
      }

    }
  }
  

  .projectPresentation{

  }
  
  .projectObDescription{
    
  }

  
 }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

