/* mixins, variables, etc. */
$lightBlue: #d6ebf2;
$transparentDarkBlue: rgba(70,164,181,0.5);

#mainImage{
  width     :100%;
  max-height:500px;
}
.topImage{
  position:relative;
}

.overlay{
  position        :absolute;
  background-color: $transparentDarkBlue;
  bottom          :0;
  z-index         : 10px;
  width           :100%;
  font-weight     : bold;
  padding         :10px 10px;
  span{
    color         :#000;
  }
  .big{
    font-size     : 25px
  }
  .medium{
    font-size     : 20px
  }
  a{
    color:#000;
    &:link{
      text-decoration:none;
    }
    &:hover{
      text-decoration:none;
    }
    &:visited{
      text-decoration:none;
    }
    &:active{
      text-decoration:none;
    }
  }
}

.selection {
  background-color: $lightBlue;
  width           :100%;

  li{
    display:inline-block;
    margin-bottom:10px;
  }
}

.partners{
  width:100%;

  white-space: nowrap;
  .partnerElement{
    display: inline-block;
    margin-right:10px;
    margin-top:10px;

    .partnerImage{
    }
  }
}