/* mixins, variables, etc. */
$lightBlue: #d6ebf2;
$light-grey:#E5E5E5;
$less-light-grey:#d3d3d3;
$light-red:#ffe5e5;
$less-light-red:#ff6666;
$size:129px;
$border-radius:8px;

.center{
  width: 515px;
  margin: 0 auto;
}
.filterrific{
  display:inline-block;
}
#filterrific_filter{
margin-bottom:10px;
}
#infinite-scrolling, .pagination{
  clear:both;
  display:block;
}
#projects{
  li{
    display:inline-block;
    margin-bottom:10px;

  }
}
@media screen and (max-width: 768px) {
  #projects li {
    width: 100%;
  }
}
.selection .projectResume{
  background-color: $light-grey;
}
.projectResume.finished{
  background-color: $light-red;
}

.projectResume{
  margin:10px 0;
  border: 1px solid $less-light-grey;
  border-radius: $border-radius;
  position:relative;
  width:100%;
  overflow:none;
  background-color: white;

  li{
    display:inline-block;
    margin-bottom:10px;
  }

  .projectResumeImage{
    text-align  :center;
    img{
      margin-left:auto;
      margin-right:auto;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      max-width:100%;
    }
  }

  .projectResumeTitle{
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .projectResumeText{
    padding:10px;
    font-size: 13px !important;

    .projectResumePresentation{
      height: $size;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }
  }

  .projectResumeInfo{
    font-size:13px;
    width:100%;
    padding-top:5px;
    border-top:1px solid black;
    overflow: hidden;
    text-align:center;

    .category{
      font-weight: bold;
      text-align:center;
      margin-bottom:5px;
    }
    .objective, .remaining, .progressKnob{
      display: inline-block;
    }

    .sub{
      font-weight: bold;
      margin-bottom:0;
    }

    .objective{
      text-align: left;
      float:left;
      margin-left:10px;
      width:80px;
    }

    .remaining{
      width:105px;
      display: inline-block;
      clear:none;
      float:right;
      padding-top:10px;

      .finished{
        color:$less-light-red;
        font-weight: bold;
      }
      @media screen and (min-width: 769px){
        display:block;
        float:none;
        clear:both;
        margin:0 auto;
        padding-top:0;
      }

      @media screen and (min-width: 1200px) {
        display: inline-block;
        float:right;
        clear:none;
        padding-top:10px;
      }
    }

    .progressKnob{
      width:40px;
      float:none;
      display: inline-block;
      margin:0 auto;

      @media screen and (min-width: 769px){
        display:inline-block;
        float:right;
        margin-right:5px;
      }

      @media screen and (min-width: 1200px) {
        display: inline-block;
        float:none;
      }
    }
  }
}
