/* mixins, variables, etc. */
$lightBlue: #d6ebf2;
$light-grey:#E5E5E5;
$less-light-grey:#d3d3d3;
$size:129px;

.center{
  width: 515px;
  margin: 0 auto;
}
.filterrific{
  display:inline-block;
}
#filterrific_filter{
margin-bottom:10px;
}
#infinite-scrolling, .pagination{
  clear:both;
  display:block;
}
#projects{
  li{
    display:inline-block;
    margin-bottom:10px;

  }
}
@media screen and (max-width: 768px) {
  #projects li {
    width: 100%;
  }
}


.projectIndex{

  margin:10px 10px;
  border: 1px solid $less-light-grey;
  border-radius: 5px;
  position:relative;
  width:100%;
  overflow:none;

  li{
    display:inline-block;
    margin-bottom:10px;
  }

  .projectIndexImage{

    margin-top:10px;
    text-align  :center;
    
  }

  .projectIndexTitle{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-left:10px;

    img{
      margin-left:auto;
      margin-right:auto;
      width:100px;
    }
  }

  .projectIndexText{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    font-size: 13px !important;

    .projectIndexPresentation{
      height: $size;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }
  }

  .projectIndexInfo{


    width:100%;
    padding-top:5px;
    border-top:1px solid black;

    .objective, .remaining{
      display: inline-block;
      margin-left:10px;
    }

    .sub{
      font-weight: bold;
      margin-bottom:0;
    }
  }
}
