.userProjects{
  a{
    color:#000;
    &:link{
      text-decoration:none;
    }
    &:hover{
      text-decoration:none;
    }
    &:visited{
      text-decoration:none;
    }
    &:active{
      text-decoration:none;
    }
  }
  .projectThumb{
    margin-bottom:10px;

    .title{
      font-weight: bold;
      font-size: 20px;
      margin-left:10px;
    }

    .presentation{
      display:none;
    }
  }
}

